.map-page {
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: lightgray;
    }
    #map-col {
        position: relative;
        height: 100%;
    }
    #map-row {
        position: relative;
        height: 100%;
    }
    #map-grid {
        //position: relative;
        height: 100%;
        padding: 0;
    }
    #add-bar {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #map-spinner {
        margin-top: 48%;
        margin-left: 48%;
    }
}

.rotate-icon {
    transform: rotate(-15deg);
}

#map-right-menu .menu-inner {
    width: 500px;
    ;
}