<ion-header>
    <ion-navbar>
        <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Map</ion-title>
    </ion-navbar>
</ion-header>

<ion-menu id="map-right-menu" side="right" [content]="mapcontent" type="overlay">
    <ion-toolbar>
        <ion-title>Edit Item</ion-title>
    </ion-toolbar>
    <ion-content>
        <!-- LIST -->
        <ion-list *ngIf="STATE.mode == MapPageMode.List">
            <ion-list-header>
                {{STATE.itemsList.length}} Items
            </ion-list-header>

            <!-- ITEMS -->
            <ion-item-sliding *ngFor="let item of STATE.itemsList; let i = index">
                <a ion-item (click)="pavingItemList_Click(item)">

                    <!-- icon for drawing type -->
                    <span item-left [ngSwitch]="item.acgo.drawingType">
                        <ion-icon *ngSwitchCase="0" name="pin" class="rotate-icon"></ion-icon>
                        <ion-icon *ngSwitchCase="1" name="logo-steam" class="rotate-icon"></ion-icon>
                        <ion-icon *ngSwitchCase="2" name="square-outline" class="rotate-icon"></ion-icon>
                    </span> {{item.acgo.name}} ({{item.acgo.quantity | number:'1.0'}} {{item.acgo.unit}})

                    <span item-right> {{item.acgo.id}} </span>
                </a>
                <ion-item-options>
                    <button danger (click)="deleteMarker_Click()">Delete</button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>

        <!-- FORM -->
        <item-form pavingItem="editItem" *ngIf="STATE.mode == MapPageMode.EditItem" (onEditComplete)="editComplete(b)"></item-form>

    </ion-content>
</ion-menu>

<ion-content #mapcontent class="map-page">

    <ion-grid id="map-grid">
        <ion-row id="map-row">

            <!-- The Map -->
            <ion-col width-90 id="map-col">
                <div #map id="map" class="hide-on-keyboard-open">
                    <ion-spinner id="map-spinner" *ngIf="mapLoading"></ion-spinner>
                </div>
            </ion-col>

            <!-- Right toolbar -->

            <ion-col width-10>
                <!-- Open Menu -->
                <div padding>
                    <button ion-button block menuToggle="right">
                    <ion-icon name="menu"></ion-icon>
                </button>
                </div>
                <!-- Buttons -->
                <div padding *ngIf="STATE.mode == MapPageMode.EditItem">
                    <button primary (click)="endDrawingEdit()">Done</button>
                </div>
                <div padding *ngIf="STATE.mode == MapPageMode.List">

                    <button outline block (click)="recenter_Click()">
                        <ion-icon name="navigate" *ngIf="!gettingLocation"></ion-icon>
                        <ion-spinner *ngIf="gettingLocation"></ion-spinner>
                    </button>

                    <button primary block (click)="addMarker_Click()"><ion-icon name="pin"></ion-icon></button>
                    <button primary block (click)="addPolyline_Click()"><ion-icon name="logo-steam" class="rotate-icon"></ion-icon></button>
                    <button primary block (click)="addPolygon_Click()"><ion-icon name="square-outline" class="rotate-icon"></ion-icon></button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>