<div class="item-form" padding>

    <!-- Photos -->
    <ion-item>
        <img width="30%" src="/img/placeholder100x100.png" id="image1" (click)="thumbnail_Click($event)" />
        <img width="30%" src="/img/placeholder100x100.png" id="image2" (click)="thumbnail_Click($event)" />
        <img width="30%" src="/img/placeholder100x100.png" id="image3" (click)="thumbnail_Click($event)" />
    </ion-item>

    <form>
        <ion-list>

            <!-- Name -->
            <ion-item>
                <ion-label stacked for="name">Name</ion-label>
                <ion-input type="text" id="name" name="name" [(ngModel)]="model.name" clearInput required></ion-input>
            </ion-item>

            <!-- Type (Select)-->
            <ion-item>
                <ion-label stacked for="identificationType">Select IdType</ion-label>
                <ion-select id="identificationType" name="identificationType" [(ngModel)]="model.identificationType" required>
                    <ion-option *ngFor="let t of Options.identificationTypeOptions" [value]="t">{{t}}</ion-option>
                </ion-select>
            </ion-item>

            <!-- Critical (toggle) -->
            <ion-item>
                <ion-label for="critical"> Critical</ion-label>
                <ion-toggle danger [(ngModel)]="model.critical" checked="false" name="critical" id="critical"></ion-toggle>
            </ion-item>

            <!-- Quantity -->
            <ion-item>
                <ion-label stacked for="name">Quantity</ion-label>
                <ion-input type="number" id="quantity" name="quantity" [(ngModel)]="model.quantity" clearInput required></ion-input>
            </ion-item>

        </ion-list>

        <button primary type="submit">Done</button><button primary danger type="button">Delete</button>

    </form>
    <div padding class="debug">
        {{diagnostic}}
    </div>
</div>